/*
    CORES QUE SERÃO UTILIZADAS NO PROJETO:
    color: #595656;
    color: #F2F0F0;
    color: #BFBDBD;
    color: #262626;
    color: #0D0D0D;

    FONTES QUE SERÃO UTILIZADAS NO PROJETO:
    .fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    }
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*HEADER*/

header{
    max-width: 100%;
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3))  ,url('../images/headerCapa.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    position: relative;
}

header nav#nav-esq{
    width: 100%;
    height: 150px;
    background-color: #BFBDBD;

    display: flex;
    flex-flow: row;
    align-items: center;
}

header nav#nav-esq div#logo{
    width: 100px;
    height: 120px;
    margin-left: 5rem;
}

header nav#nav-esq div#logo img{
    max-height: 100%;
    max-height: 100%;
}

/* MENU HAMBURGUER*/

header nav#nav-esq ul#icone-menu{
    display: none;
}

header nav#nav-esq ul#icone-menu li{
    list-style: none;
}

header nav#nav-esq ul#icone-menu li ion-icon{
    font-size: 70px;
    color: white;
    margin-right: 2rem;
}

header nav#nav-esq ul#menu-principal{
    margin-left: 5rem;
    display: flex;
    flex-flow: row wrap;
}

header nav#nav-esq ul#menu-principal li{
    list-style: none;
    margin-right: 2rem;
}

header nav#nav-esq ul#menu-principal li a{
    text-decoration: none;
    color: white;
    font-size: 120%;
    text-shadow: 4px 6px 10px black;
    padding-bottom: 10px;
    transition: .3 ease-out;
}

header nav#nav-esq ul#menu-principal li a:hover{
    border-bottom: 1px solid white;
    opacity: .6;
}

/* ----chamada ----*/

header div.chamada{
    position: absolute;
    width: 100%;
    height: 300px;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.chamada a{
    font-size: max(16px, 1.8vw);
    color: #fff;
    text-decoration: none;
    padding: 20px 80px;
    border-radius: 50px;
    font-weight: 600;
    background: linear-gradient( #BFBDBD 0%, #262626 50%, #0D0D0D 100%);

    display: inline-block;

    animation-name: HeaderA-moverParaCima;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
    transition: .3s ease-in-out;
}

div.chamada a:hover{
    opacity: .8;
}