/*
    CORES QUE SERÃO UTILIZADAS NO PROJETO:
    color: #595656;
    color: #F2F0F0;
    color: #BFBDBD;
    color: #262626;
    color: #0D0D0D;

    FONTES QUE SERÃO UTILIZADAS NO PROJETO:
    .fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    }
*/